@model Amazon.CodeDeploy.Model.CreateDeploymentGroupRequest 

@{
    ViewData["Title"] = "Add Deployment Group";
}

<h2>Add Deployment Group</h2>
<form asp-controller="DeploymentConfiguration" asp-action="AddDeploymentGroup" method="post" role="form">
    
    <div class="form-group">
        <label class="col-md-2 control-label">App Name</label>
        <div class="col-md-6">
            <input asp-for="ApplicationName" class="form-control" />
        </div>
    </div>    
    
    <div class="form-group">
        <label class="col-md-2 control-label">Deployment Group Name</label>
        <div class="col-md-6">
            <input asp-for="DeploymentGroupName" class="form-control" />
        </div>
    </div>    
    
    <div class="form-group">
        <label class="col-md-2 control-label">Service Role Arn</label>
        <div class="col-md-6">
            <input asp-for="ServiceRoleArn" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Add" />
        </div>
    </div>
</form>
