@model Amazon.CodeDeploy.Model.CreateApplicationRequest
@{ 
    ViewData["Title"] = "New Application Name";
}
<div class="row">
    <div class="col-xs-4">
        <h2>New Application Name</h2>
        @using (Html.BeginForm("AppNameSave", "Deployment", FormMethod.Post))
        {

            <div class="form-group">
                @Html.LabelFor(m => m.ApplicationName, "Application Name")
                @Html.TextBoxFor(m => m.ApplicationName, null, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-lg" value="Add" />
            </div>

        }
    </div>
</div>
