@model Amazon.CodeDeploy.Model.CreateApplicationRequest
@{
    ViewData["Title"] = "Add Application";
}

<h2>Add Application</h2>
<form asp-controller="Application" asp-action="Add" method="post" role="form">
    <div class="form-group">
        <label class="control-label">App Name</label>
        <div class="">
            <input asp-for="ApplicationName" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="">
            <input type="submit" class="btn btn-default" value="Add" />
        </div>
    </div>
</form>
